*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                        /* top bar section start  */
.top_bar{
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
}
.btn:hover{
    background: green;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    margin: 0;
    display: inline-block;
    border: border-box;
    width: 100px;
    margin-right: 5px;
}
.btn{
    color: white;
    background-color: rgb(103, 168, 6);
    font-size: 14px;
    margin-right: 5px;
    height: 35px;
    width: 100px;
}
                    /* top bar section close  */

                    /* bg_img section start  */
.main_menu{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
li{
    list-style: none;
    height: 40px;
}
a{
    text-decoration: none;
    color: rgba(23, 2, 2, 0.784);
    font-size: 15px;
}
.bg_img{
    background: url(./image.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.menu_bar{
    display: flex;
    justify-content: space-evenly;
    background:white;
    align-items: center;
}
.hero_area_text h1{
    color: white;
    font-size: 66px;
    font-weight: 800px;
}
.hero_area_text_two h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_area{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .hero_area_text h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_bar{
    position: sticky;
    top: 0;
}


.main_menu{
    display: flex;
    gap: 20px;
 }
.menu_bar{
    justify-content: space-evenly;
}
.main_menu a:hover{
    color: #f2745f;
}
.dropdown_main{
    position: relative;
}
.dropdown_menu{
    position: absolute;
    width: 250px;
    background-color: #f5edede4;
    display: none;
    top: 40px;
}
 .dropdown_main:hover .dropdown_menu{
    display: block;
 }
 .fa-shopping-cart{
    color: white;
 }
 .fa-shopping-cart:hover{
    color: #f2745f;
 }
 .fa-bars{
    color: white;
    cursor: pointer;
 }

                        /* bg_img section close  */

                        /* About Section Start  */
.page_header h1{
    text-transform: uppercase;
    color: #4b4741;
    text-align: center;
    font-weight: 800px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
}
.page_header h2{
    color: #4b4741;
    text-align: center;
    font-weight: 800px;
}

                            /* image  */
.images .first_img{
    height: 140px;
    width: 200px;
}
.images .bottom_image{
    height: 95px;
    width: 102px;
}
.about .all_container{
    display: flex;
    justify-content: space-evenly;
}
.all_container p{
    width: 800px;
    padding-right: 15px;
    float: left;
    font-size: 25px;
}
.all_container{
    padding-top: 30px;
}
.about{
    height: 600px;
    width: 100%;
}

                    /* About Section Close  */

                    /* slick_page section Start  */
hr{
    width: 200px;

justify-content: center;
text-align: center;
margin: auto;

border-width: 2px;
border-color: rgb(255, 162, 0);
}
.page_title h1{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 800px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
}
.page_title h2{
    color: white;
    text-align: center;
    font-weight: 800px;
}
.slick_page{
    background: url(./image\ copy\ 2.png);
    background-size: cover;
    height: 600px;
}

.your-class{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-left: -120px;
}
.your-class div img{
    width: 1000px;
 margin-top: 30px;
 margin-left: 380px;
 height: 400px;
 position: relative;
}

                          /* slick_page section Close  */

                          /* form section Start  */
.form_page_header{
    text-align: center;
    top: 30px;
}
.form_page_header h1{
    font-size: 43px;
   
}
.form_page_header p{
    font-size: 21px;

}
.card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_container h1{
    margin-bottom: 20px;
}
.card_container p{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card_container h2{
    text-align: center;
    color: #000;
    padding: 25px 0px 10px 0px;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
.form_row{
    display: flex;
    gap: 15px;
   
}
 form input[type = text], form input[type = number], form
 input::placeholder, select{
    color: #9a9a9a;
    background-color: #000;
 }
 .bbtn{
    color: #fff;
    background: #f2745f;
    /* padding: 12px 0; */
    border-radius: 4px;
    cursor: pointer; 
    align-items: center;
 }
 form .bbtn:hover{
    opacity: 0.9;
 }
.advanced{
    border: 2px solid #9a9a9a;
    width: 60%;
    height: 400px;
    background-color: whitesmoke;
 }
 .extra{
    /* width: 600px;
    margin-left: 190px;
    margin-top: 50px; */
 }
 form{
    margin-top: 40px;
 }
 .advanced h2{
    font-size: 35px;
 }
 .card_container h1{
    font-size: 30px;
 }
 .card_container p{
    font-size: 20px;
    color: #9a9a9a;
 }
 .last_txt h1{
    font-size: 19px;
    color: #9a9a9a;
    text-align: center;
    height: 75px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
 }
 .extra .bbtn{
    align-items: center;
    justify-content: center;
 }
 .extra{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
 }

                        /* form section close  */

                            /* our_features section start */

 .our_features{
    background: url(./images/blurbokeh.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
 }
 .our_features h1{
    color: black;
    text-align: center;
 }
 .our_features h3{
    color: black;
    text-align: center;
 }
 .img_part .feature_img h1{
    color: black;
    text-align: center;
    font-size: 25px;
    font-style: bold;
 }
 .feature_img img{
    height: 320px;
    width: 300px;
    transition: 1s;
 }
 .img_part{
    background: white;
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
 }
 .feature_img{
    background-color: white;
   
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    cursor: pointer;
 }
 .feature_img p{
    color: rgb(158, 127, 127);
    font-size: 21px;
 }
 .feature_img:hover img{
    transform: scale(1.2);
    border: #000;
 }
 .our_features.tittle h1{
    color: #000;
 }  

                        /* our_features section close  */

                        /* our_menu section start  */


 .menu_side ul{
    display: flex;
    font-size: 10px;
    justify-content: center;
     gap: 10px;
}
  .menu_side ul li a{
    color: black;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50ox;
    font-style: normal;                       
}
 .menu_side{
     background-color: whitesmoke;
}
 .our_menu_types{
    display: flex;
}
                        
 .our_menu_types h1{
    font-size: 20px;
    color: #000;
}
 .our_menu_types p{
    font-size: 10px;
    color: #000;
}
 .our_menu_types hr{
    border: 1px dashed black;
}
 .our_full_menu_side{
     display: flex;
    justify-content: center;
    gap: 20px;
}

 .our_menu .tittle{
    text-align: center;
}
 .our_menu .tittle h1{
    font-size: 27px;
    font-style: bold;
}
 .our_menu .tittle h3{
    font-size: 21px;
    font-style: bold;
    color:#806c6c;
}
.menu_side ul li a:hover{
    color: #f2745f;
}
                        /* our_menu section start  */
                        /* bottom_slick section start  */
.bottom_slick .your-class div{
    text-align: center;
    font-size: 26px;
    color: white;
    margin: auto;
   
}
.slick-prev {
    left: 0;
    z-index: 2;
}
.bottom_slick{
    background: rgba(0,0,0,0.7)url(./images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
                            /* bottom_slick section close  */
                            /* instagram section start  */
.instagram h1{
    text-align: center;
    font-size: 27px;
}
.instagram h3{
    text-align: center;
    color: #9a9a9a;
}
.subscribe .container h1{
    font-weight: 300;
    text-align: left;
    margin: 0;
 
}
.subscribe .container{
    display: flex;
    align-items: center;
    gap: 40px;
 justify-content: center;
 background-color: rgba(222, 211, 211, 0.337);
 height: 90px;
}
.subscribe .container p{
    font-size: 20px;
    color: #9a9a9a;
    gap: 30px
   
}
.subscribe .container input{
    font-size: 20px;
    border: 2px solid blue;
  
}
                            /* instagram section section close  */
                            /* last section start  */
.last .about_us p{
    width: 270px;
}
.img_flex img{
    height: 70px;
    width: 80px;
}
 .img_flex{
    display: flex;
    gap: 10px;
 }
 .last{
    display: flex;
    justify-content: space-evenly;
 }
.last_icon {
    gap: 40px;
    background-color: grey;
 }
 .rech_us h1{
    color: #f2745f;
 }
 .Recent_post .images h1{
    color: #f2745f;
 }

 .last{
    background: url(./image\ copy\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 footer{
    text-align: center;
    background-color: whitesmoke;
 }
                                /* last section close  */


                                /* responsivenes */


                                @media (max-width: 992px){
                                    .menu_bar{
                                        display: none;
                                        float: none;
                                    }
                                  .hero_area img{
                                    height: 200px;
                                    align-items: center;
                                    margin-top: 150px;
                                  }
                                  .hero_area_text h1{
                                    font-size: 30px;
                                  }
                                  .hero_area_text_two h1{
                                    font-size: 20px;
                                    text-align: center;
                                    margin-top:12px ;
                                  }
                                  .bottom_image{
                                    display: none;
                                  }
                                  .all_container p{
                                    font-size: 17px;
                                    text-align: center;
                                    width: 300px;
                                    margin-left: 50px;
                                  }
                                  .first_img{
                                   margin-left: 90px;
                                   
                                
                                  }
                                  .about .all_container{
                                  display: block;
                                  justify-content:center ;
                                  }
                                  .about{
                                    height: 770px;
                                  }
                                 .card_container p{
                                    text-align: center;
                                 }
                                .advanced h2{
                                    font-size: 27px;
                                }
                                form select, form input {
                                    font-size: 13pxpx;
                                }
                                .advanced{
                                    width: 80%;
                                    height: 320px;
                                }
                                .images .sakib{
                                    align-items: center;
                                }
                                .your-class div img{
                                    width: 300px;
                                    height: 200px;
                                    margin-left:30px ;
                                }
                                .feature_img img{
                                    height: 100px;
                                    width: 200px;
                                }
                                .img_part{
                                    display: block;
                                }
                                .img_part .feature_img h1{
                                    font-size: 15px;
                                }
                                .feature_img p{
                                    font-size: 13px;
                                    text-align: center;
                                    width: 200px;
                                }
                                .subscribe .container{
                                    display: block;
                                }
                                .subscribe .container h1{
                                    font-size: 15px;
                                }
                                .subscribe .container p{
                                    font-size: 17px;
                                }
                                .last{
                                    display: block;
                                }
                                .our_features{
                                    height: 900px;
                                }
                                .our_full_menu_side{
                                    display: block;
                                }
                                .menu_side ul li a{
                                    font-size: 15px;
                                }
                                .our_menu_types h1{
                                    font-size: 15px;
                                }
    
                                 }



                                 /* slick arrows css  */
   
                                 

                                 .slick-prev::before,
.slick-next::before {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
}

.slick-prev {
    margin-left: 250px;
  }

  .slick-next {
    margin-right: 40px;
  }
  .slick-prev:before, .slick-next:before { 
    color:red !important;
  }

